@import "./partials/variables";
@import "./partials/fuentes";
@import "./partials/mineria";
@import "./partials/contacto";
@import "./partials/mixin";
@import "./partials/rentabilidad";
@import "./partials/noticias";
@import "./partials/overclock";
@import "./partials/billeteras";



/* Header */
.encabezado {
    display: flex;
    flex-direction: column;
    background-image: $background-encabezado;
    align-items: center;
    padding: 5px;
    &__logoImagen {
        width: 130px;
        height: 100px;
        border-radius: 50%;
        margin: 5px 0px 0px 10px;       
}

&__titulo {
    color: darkgray;
    margin: 10px;
    animation-duration: 5s;
    animation-name: aparecer;
}

&__list {
    display: flex;
    list-style: none;
    
}
&__item {
    color: rgb(148, 181, 219);
    text-decoration: none;
    margin: 0em 1em 0em 1em;
    font-size: 20px;
    transition: all 1s;
    & a {
        color: rgb(148, 181, 219);
        text-decoration: none;
    }
    & a:hover {
        color: rgb(238, 239, 240);
        text-decoration: none;
    }
      
}


}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Main*/

.principal {
    display: grid;
    &__fondo {
        display: grid;
        background-image: url(../Imagenes/fondo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        place-items: center;
        width: 100%;
        
    }
    &__bienvenida {
        font-size: $fontFondo;
        color: #ffab0b;
        background: #2804047a;
        font-style: italic;
    }
    &__bienvenida--chico{  
        font-size: 20px;
        color: #ffab0b;
        background: #2804047a;
        font-style: italic;
    }


}



/*sectionServicios*/
.servicioFlex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        &__hijo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;   
            margin: 1rem;
        }
        &__titulo {
            @include titulo(linear-gradient(to left, #330eda, rgb(0, 0, 0)))
        }
        &__titulo2 {
            @include titulo(linear-gradient(to left, #8c797a, rgb(0, 0, 0)))
        }
        &__hijo--img {
            height: 90%;
        padding: 1rem;
        } 
        &__titulo3 {
            padding: 2rem;
            text-align: center;
            color: #242b90;
        }
        &__Parrafo {
            font-size:20px;
            color: #9393f5;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 2rem;
        }
        &__Parrafo--links {
            color: rgb(0, 3, 7);
            text-decoration: none;
            font-size: 25px;
            transition: all 1s;
            & a {
                color: rgb(0, 2, 3);
                text-decoration: none;
            }
            & a:hover {
                color: rgb(182, 78, 17);
                text-decoration: none;
            }
}
}
.pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #4f4f9cc2, rgb(0, 0, 0));
    font-size: 15px;
    color: blanchedalmond;
    &__logo {
        margin: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-color: rgb(26, 1, 1);
        transform: rotateY(25deg);
    }
    &__redes {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 5px;
        border: none;
        transition: all 2s;
        border-radius: 30%;
    &:hover{
    width: 70px;
    height: 70px;  
    } 
    }
    }
    $redes: ( 
        twitter: #55acee,
        facebook:  #0978f7,
        instagram: #d24570ab
); 
@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
 }




@media only screen and (max-width: 1200px)  {
    .servicioFlex {
        display: grid;
        grid-template-columns: 1fr;
    }
    .servicioFlex__hijo--img {max-width: 70%;}
  
    }

@media only screen and (max-width: 768px)  {
    .containerNoticias {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .encabezado__list {
        display: flex;
        flex-direction: column;

      }
      .imagenWallet {
        height: 20rem;
        width: 15rem;}
        .servicioFlex__hijo--img {max-width: 100%;}

    }

@media only screen and (max-width: 500px) and (min-width: 341px) {
    .principal {
        height: auto;
        &__bienvenida {
            font-size:$fontFondo/3;
        }
        &__bienvenida--chico{  
            font-size: 15px;  
        }
    }
.principal__bienvenida {
    width: 50%;
    padding-top:50px;
    
}
.principal__bienvenida--chico {
    width: 50%;
    
}

form {
    width:90%;
}
.tablaGrids {
    display: grid;
    grid-template-columns: 1fr;  
}
.tablaGrids__placas {
    grid-column: 1 / 3;
}
th {
    margin: 0px;
    padding: 0px;
}
td {
    margin: 0px;
    padding: 0px;
}

.contacto {
    width: 350px;
}


.pie {
    display: flex;
    flex-direction: column;}
.pie__titulo {
   font-size: 15px;
}
.pie__logo {
    width: 50px;
height: 50px;
}

}





    










